/* ==========================
   1200px
========================== */

@media (max-width:1200px){

    :root{
        --container:1140px;
    }

}

/* ==========================
   992px
========================== */

@media (max-width:992px){

    :root{

        --section-padding:80px;

        --fs-3xl:3rem;
        --fs-2xl:2.4rem;
        --fs-xl:1.8rem;

    }

}

/* ==========================
   768px
========================== */

@media (max-width:768px){

    :root{

        --section-padding:70px;

        --fs-3xl:2.5rem;
        --fs-2xl:2rem;
        --fs-xl:1.6rem;

    }

    .container{

        width:min(100% - 24px, var(--container));

    }

}

/* ==========================
   576px
========================== */

@media (max-width:576px){

    :root{

        --header-height:64px;

        --section-padding:60px;

        --fs-3xl:2rem;
        --fs-2xl:1.7rem;
        --fs-xl:1.4rem;
        --fs-lg:1.25rem;

    }

}

/* ==========================
   400px
========================== */

@media (max-width:400px){

    html{

        font-size:15px;

    }

    .container{

        width:min(100% - 20px, var(--container));

    }

}
