<section class="latest-news">

    <div class="container">

        <div class="section-header">

            <div class="section-left">

                <span class="section-badge">

                    📰 Latest News

                </span>

                <h2>

                    Government Exam News

                </h2>

                <p>

                    Get the latest Government Exam Notifications,
                    Recruitment Updates, Education News and Official Announcements.

                </p>

            </div>

            <a
                href="pages/news.html"
                class="section-btn">

                View All →

            </a>

        </div>

        <div
            id="latestNewsGrid"
            class="news-grid">

        </div>

    </div>

</section>
