<section class="current-affairs">

    <div class="container">

        <div class="section-header">

            <div class="section-left">

                <span class="section-badge">

                    🌍 Daily Current Affairs

                </span>

                <h2>

                    Stay Updated Every Day

                </h2>

                <p>

                    Daily Current Affairs, National, International,
                    Economy, Science, Sports and Important Government Updates.

                </p>

            </div>

            <a
                href="pages/current-affairs.html"
                class="section-btn">

                View All →

            </a>

        </div>

        <div
            id="currentAffairsGrid"
            class="current-grid">

        </div>

    </div>

</section>
