<nav class="mobile-nav">

    <a href="index.html" class="active">

        <span>🏠</span>

        <small>Home</small>

    </a>

    <a href="pages/quizzes.html">

        <span>📚</span>

        <small>Quiz</small>

    </a>

    <a href="pages/jobs.html">

        <span>💼</span>

        <small>Jobs</small>

    </a>

    <a href="pages/results.html">

        <span>🏆</span>

        <small>Results</small>

    </a>

    <a href="pages/profile.html">

        <span>👤</span>

        <small>Profile</small>

    </a>

</nav>
